<!DOCTYPE html>
<html>
<head>
	<title>InQueue App</title>
</head>
<body>
	<div>
		<h1>Welcome to InQueue App!</h1>
		<button class="btn_downloadClient">Download Client</button>
		<button class="btn_openWebApp">Open Web Application</button>
	</div>
</body>

<script type="text/javascript" src="/js/homepage/scripts.js"></script>
</html>