<html>
    <body>
        <div>
            <label>Username</label>
            <input class="username" type="text">
            <label>Password</label>
            <input class="password" type="text">
            <button class="btnLogin">Login</button>
        </div>

        <script type="text/javascript" src="js/Login/loginServices.js"></script>
        <script type="text/javascript" src="js/Login/scripts.js"></script>
    </body>
</html>