@model WebAppModel;

<html>
    <head>
        <link rel="stylesheet" href="css/webapp/dropdown.css">
        <link rel="stylesheet" href="css/webapp/layout.css">
        <link rel="stylesheet" href="css/webapp/queuelist.css">
        <link rel="stylesheet" href="css/webapp/dialogs.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
        
        <script type="text/javascript">
            const Username = "@Model.User.Username"
        </script>
    </head>

    <body>

        <div class="dropdown header">

            <div class="dropdown-container">
                <button class="dropdown-main-button">
                    <img src="/assets/hamburger-icon.png">
                </button>

                <div class="dropdown-welcome-label">Welcome back, @Model.User.FullName</div>
                
                <button class="dropdown-add-button btnAddQueue">
                    <img src="/assets/plus-icon.png">
                </button>
            </div>

            
            
            <div class="dropdown-content">
                <button class="drop-btn btnDonate">Donate</button>
                <button class="drop-btn btnRename">Rename</button>
                <button class="drop-btn btnChangePassword">Change Password</button>
                @{
                    if(Model.HasAccessToLogs)
                    {
                        <button class="drop-btn btnDownloadLog">Download Logs</button>
                    }
                    @if(Model.User.Role.CanManageUsers)
                    {
                        <button class="drop-btn btnCreateUser">Create Local User</button>
                    }
                }
                <button class="drop-btn btnLogout">Logout</button>
                <button class="drop-btn btnDelete">Delete User</button>
                <button class="drop-btn btnJoinQueue">Join Queue</button>
            </div>
        </div>

        <div class="create-queue-dialog dialog hidden">
            <div class="dialog-content">
                <div class="dialog-header">Create Queue</div>
                <div class="dialog-label">Queue Name:</div>
                <input type="text" class="dialog-input dialog-queue-name">
                <div class="dialog-buttons">
                    <button class="dialog-button dialog-end-button">Cancel</button>
                    <button class="dialog-button dialog-end-button dialog-create-queue-ok">Ok</button>
                </div>
            </div>
        </div>

        <div class="leave-queue-confirm-dialog dialog hidden">
            <div class="dialog-content">
                <div class="dialog-header">Leaving Queue</div>
                <div class="dialog-label">Are you sure you want to leave this queue? You will not be able to see it until you re-join.</div>
                <div class="dialog-buttons">
                    <button class="dialog-button dialog-end-button">Cancel</button>
                    <button class="dialog-button dialog-end-button dialog-confirm-leave-queue-ok">Ok</button>
                </div>
            </div>
        </div>

        <div class="lst_box queues">
        </div>


        <script type="text/javascript" src="js/webapp/userServices.js"></script>
        <script type="text/javascript" src="js/webapp/userScripts.js"></script>
        <script type="text/javascript" src="js/webapp/queueServices.js"></script>
        <script type="text/javascript" src="js/webapp/queueScripts.js"></script>
        <script type="text/javascript" src="js/webapp/uiScripts.js"></script>
        <script type="text/javascript" src="js/webapp/uiHandlers.js"></script>
        <script type="text/javascript" src="js/webapp/dialogs.js"></script>
    </body>
</html>