.lst_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .lst_item {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .queueName {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .queuePosition {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: -12px;
  }
  
  .queuePositionLabel {
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    font-size: 14px;
    text-align: center;
    margin-top: -7px;
  }
  
  .btnLeaveQueue {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btnLeaveQueue:hover {
    background-color: #ddd;
  }